@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Configurations */
@font-face {
  font-family: "MihoyoFont-EN";
  src: url("@/assets/fonts/en-us.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MihoyoFont-ID";
  src: url("@/assets/fonts/id-id.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MihoyoFont-JP";
  src: url("@/assets/fonts/ja-jp.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Apply fonts globally */
@layer base {
  html {
    font-family: "MihoyoFont-EN", system-ui, sans-serif;
  }
}
